
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('images/desert.jpg');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    overflow: hidden; 
}


h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #4e2e14;
    text-shadow: 2px 2px 0 #f4e2ba;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 3px;
}

.cell {
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.cell:hover {
    background-color: #e2b98b;
}


.cell.revealed {
    background-color: #f8e3c1;
    cursor: default;
    box-shadow: inset 0 0 3px #5e3d18;
}

.cell.mine {
    background-color: #edc9af;
    color: red;
}

#restart-button {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 16px;
    font-family: 'Freckle Face';
    background-color: #e3a857;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: background-color 0.3s;
}

#restart-button:hover {
    background-color: #d88f36;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1;
    z-index: 9999;
    transition: opacity 2s ease-out;
    pointer-events: none;
}

body.loaded #overlay {
    opacity: 0;
}
