body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #fce3f0, #b1a7f5);
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-align: center;
}

canvas {
    border: 4px solid #fff;
    border-radius: 16px;
    background: radial-gradient(circle, #fff0f5, #ffe6f0);
    box-shadow: 0 0 30px rgba(255, 182, 193, 0.5);
}

#menu {
    position: absolute;
    top: 40%;
    text-align: center;
}

#startButton {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    background-color: #ffb3c6;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
}

#startButton:hover {
    background-color: #ff99aa;
}
